@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<L02P02_2022EO650_2022HC650.Models.Libro>

@{
    ViewBag.Title = "Lista de Libros";
}

<h2>Lista de Libros</h2>

<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model)
        {
            <tr>
                <td><img src="@libro.UrlImagen" alt="@libro.Nombre" width="50" height="75"></td>
                <td>@libro.Nombre</td>
                <td>@libro.Descripcion</td>
                <td>$@libro.Precio</td>
                <td>
                    @using (Html.BeginForm("AgregarAlCarrito", "Libros", FormMethod.Post))
                    {
                        @Html.Hidden("id", libro.Id)
                        <button type="submit" class="btn btn-success">Agregar al Carrito</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("VerCarrito", "Libros")" class="btn btn-primary">Ver Carrito</a>

